h1{
    background-color: turquoise;
    color: white;
}

h2{
    color: turquoise;
    font-size: xx-large;
}

h3{
    color: turquoise;
}

.box{
    height: 400px;
    padding: 20px;
    color:gray;
    background: fuchsia;
}